<% if ((post.original != false && !is_page() && theme.copyright) || post.original){ %>
    <div class="copyright">
        <p><span>Author:</span>
            <a href="/" title="<%= __('tooltip.back2home') %>">
                <%=theme.author%>
            </a>
        </p>
        <p><span>Created:</span>
            <%= post.date.format("YYYY-MM-DD, HH:mm:ss") %>
        </p>
        <p><span>Updated:</span>
            <%= post.updated.format("YYYY-MM-DD, HH:mm:ss") %>
        </p>
        <p>
            <span>Full URL:</span>
            <a class="post-url" href="<%- url_for(post.path) %>" title="<%= post.title %>">
                <%= post.permalink %>
            </a>
            <span class="copy-path" data-clipboard-text="From <%= post.permalink %>　　By <%=theme.author%>" title="<%= __('tooltip.copyPath') %>"><i class="fa fa-clipboard"></i></span>
            <script>
                var clipboard = new Clipboard('.copy-path');
            </script>
        </p>
        <p>
            <span>License:</span><i class="fa fa-creative-commons"></i> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
                title="CC BY-NC-SA 4.0 International" target="_blank">"CC BY-NC-SA 4.0"</a> Keep Link & Author if Distribute.
        </p>
    </div>
<% } %>

<% if (post.prev || post.next){ %>
    <nav id="article-nav">
        <% if (post.prev){ %>
            <div id="article-nav-newer" class="article-nav-title">
                <a href="<%- url_for(post.prev.path) %>">
                    <%= post.prev.title %>
                </a>
            </div>
        <% } %>
        <% if (post.next){ %>
            <div id="article-nav-older" class="article-nav-title">
                <a href="<%- url_for(post.next.path) %>">
                    <%= post.next.title %>
                </a>
            </div>
        <% } %>
    </nav>
<% } %>